# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# they will be requested for review when someone opens a 
# pull request.
*        @thehenrytsai @tplooker @csuwildcat @troyronda @OR13 @xinaxu

# See CODEOWNERS syntax here: https://help.github.com/articles/about-codeowners/#codeowners-syntax